/.git
/venv
.idea
__pycache__
*.retry
/venvbash
/docker/dockertext2
/docker/.env
/kubernetes/demo
**/*.deb
**/*.tfstate
**/*.tfstate.backup
**/.terraform
**/*.iml
**/*.key
**/*.crt
**/*.csr
**/credentials.json
/kubernetes/config
**/account.json
/terraform/terraform-up-and-running-code
